<% if (ev) { %>
    <h2>Edit EV</h2>
<% } else { %>
    <h2>Create EV</h2>
<% } %>
<form method="POST" action="<%= ev ? '/evs/update/' + ev.id : '/evs' %>">
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <div>
        <label for="make">make:</label>
        <input name="make" value="<%= ev ? ev.make : '' %>" type="text" id="make" />
    </div>
    <div>
        <label for="model">model:</label>
        <input name="model" value="<%= ev ? ev.model : '' %>" type="text" id="model" />
    </div>
    <div>
        <label for="status">status:</label>
        <select name="status" value="<%= ev ? ev.status : '' %>" type="text" id="status">
            <option value="unknown">unknown</option>
            <option value="credit eligible">credit eligible</option>
            <option value="not credit eligible">not credit eligible</option>
        </select>
    </div>
    <% if (ev) { %>
        <button>Update</button>
    <% } else { %>
        <button>Create</button>
    <% } %>
</form>

<a href="/evs">
    <button type="button">Back</button>
</a>