<h2>Evs List</h2>

<a href="/evs/new">
    <button type="button">Add New EV</button>
</a>

<table id="evs-table">
    <tr id="evs-table-header">
        <th>Make</th>
        <th>Model</th>
        <th>Status</th>
        <th colspan="2"></th>
    </tr>
    <% if (evs && evs.length) { %>
        <% evs.forEach((ev)=> { %>
            <tr>
                <td>
                    <%= ev.make %>
                </td>
                <td>
                    <%= ev.model %>
                </td>
                <td>
                    <%= ev.status %>
                </td>
                <td>
                    <a href="/evs/edit/<%= ev.id %>">
                        <button type="button">edit</button>
                    </a>
                </td>
                <td>
                    <form method="POST" action="/evs/delete/<%= ev.id %>" style="display: inline">
                        <button type="submit">delete</button>
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    </form>
                </td>
            </tr>
            <% }) %>
                <% } %>
</table>

<a href="/">
    <button type="button">Home</button>
</a>